<nav class="flex justify-between p-4 bg-[#0E1618]">
  <div>
    <h1 class="text-3xl font-black text-white cursor-pointer" routerLink="">
      NEWS.TV
    </h1>
  </div>
  <div class="flex gap-5 text-white">
    <a routerLink="bitcoin/news" class="text-lg no-underline text-white">
      Bitcoin News
    </a>
    <a routerLink="tech/news" class="text-lg no-underline text-white">
      Tech News
    </a>
    <a routerLink="business/news" class="text-lg no-underline text-white">
      Business News</a
    >
    <a routerLink="contact/news.tv" class="text-lg no-underline text-white">
      Contact
    </a>
  </div>
</nav>
